# Configurações do Firebase Functions
JWT_SECRET=sua-chave-secreta-jwt-aqui
NODE_ENV=production

# Configurações do Firebase (opcional - pode usar service account)
FIREBASE_PROJECT_ID=cfconline-a34ad
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@cfconline-a34ad.iam.gserviceaccount.com

# Configurações da API OpenAI
OPENAI_API_KEY=sua-chave-api-openai-aqui 