# Configurações do Firebase
FIREBASE_API_KEY=AIzaSyCJyU2FPLLGLq8mpODbgHs811E8EkT3RBU
FIREBASE_AUTH_DOMAIN=cfconline-a34ad.firebaseapp.com
FIREBASE_PROJECT_ID=cfconline-a34ad
FIREBASE_STORAGE_BUCKET=cfconline-a34ad.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=990149263496
FIREBASE_APP_ID=1:990149263496:web:a71d6e7dc03265417a5f3d

# Configurações do JWT
JWT_SECRET=seu-jwt-secret-super-seguro-aqui

# Configurações do Servidor
PORT=3000
NODE_ENV=development 